In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV
%matplotlib inline


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge 
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

In [2]:
df1= pd.read_csv('green_tripdata-one-.csv')
df1

C:\Users\Huawei\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2021-01-01 00:15:56,2021-01-01 00:19:52,N,1.0,43,151,1.0,1.01,5.50,0.5,0.5,0.00,0.00,NaN,0.3,6.80,2.0,1.0,0.00
1,2.0,2021-01-01 00:25:59,2021-01-01 00:34:44,N,1.0,166,239,1.0,2.53,10.00,0.5,0.5,2.81,0.00,NaN,0.3,16.86,1.0,1.0,2.75
2,2.0,2021-01-01 00:45:57,2021-01-01 00:51:55,N,1.0,41,42,1.0,1.12,6.00,0.5,0.5,1.00,0.00,NaN,0.3,8.30,1.0,1.0,0.00
3,2.0,2020-12-31 23:57:51,2021-01-01 00:04:56,N,1.0,168,75,1.0,1.99,8.00,0.5,0.5,0.00,0.00,NaN,0.3,9.30,2.0,1.0,0.00
4,2.0,2021-01-01 00:16:36,2021-01-01 00:16:40,N,2.0,265,265,3.0,0.00,-52.00,0.0,-0.5,0.00,0.00,NaN,-0.3,-52.80,3.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76513,NaN,2021-01-15 10:35:00,2021-01-15 10:51:00,NaN,NaN,3,147,NaN,5.97,17.01,0.0,0.0,0.00,0.00,NaN,0.3,17.31,NaN,NaN,NaN
76514,NaN,2021-01-15 10:25:00,2021-01-15 10:34:00,NaN,NaN,242,213,NaN,3.83,27.27,0.0,0.0,2.75,0.00,NaN,0.3,30.32,NaN,NaN,NaN
76515,NaN,2021-01-15 10:16:00,2021-01-15 10:20:00,NaN,NaN,181,181,NaN,0.45,12.89,0.0,0.0,2.75,0.00,NaN,0.3,15.94,NaN,NaN,NaN
76516,NaN,2021-01-15 10:16:00,2021-01-15 10:58:00,NaN,NaN,244,72,NaN,22.21,50.67,0.0,0.0,2.75,6.12,NaN,0.3,59.84,NaN,NaN,NaN
76517,NaN,2021-01-15 10:24:00,2021-01-15 10:46:00,NaN,NaN,227,33,NaN,4.20,21.37,0.0,0.0,2.75,0.00,NaN,0.3,24.42,NaN,NaN,NaN

In [3]:
df2= pd.read_csv('green_tripdata_two-.csv')
df2

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2021-02-01 00:34:03,2021-02-01 00:51:58,N,1.0,130,205,5.0,3.66,14.00,0.50,0.5,10.00,0.0,NaN,0.3,25.30,1.0,1.0,0.00
1,2.0,2021-02-01 00:04:00,2021-02-01 00:10:30,N,1.0,152,244,1.0,1.10,6.50,0.50,0.5,0.00,0.0,NaN,0.3,7.80,2.0,1.0,0.00
2,2.0,2021-02-01 00:18:51,2021-02-01 00:34:06,N,1.0,152,48,1.0,4.93,16.50,0.50,0.5,0.00,0.0,NaN,0.3,20.55,2.0,1.0,2.75
3,2.0,2021-02-01 00:53:27,2021-02-01 01:11:41,N,1.0,152,241,1.0,6.70,21.00,0.50,0.5,0.00,0.0,NaN,0.3,22.30,2.0,1.0,0.00
4,2.0,2021-02-01 00:57:46,2021-02-01 01:06:44,N,1.0,75,42,1.0,1.89,8.50,0.50,0.5,2.45,0.0,NaN,0.3,12.25,1.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64567,NaN,2021-02-26 08:46:00,2021-02-26 08:59:00,NaN,NaN,167,247,NaN,1.47,14.55,2.75,0.0,0.00,0.0,NaN,0.3,17.60,NaN,NaN,NaN
64568,NaN,2021-02-26 08:56:00,2021-02-26 09:10:00,NaN,NaN,89,123,NaN,2.87,20.22,2.75,0.0,0.00,0.0,NaN,0.3,23.27,NaN,NaN,NaN
64569,NaN,2021-02-26 08:46:00,2021-02-26 09:07:00,NaN,NaN,127,166,NaN,4.74,24.94,5.50,0.0,0.00,0.0,NaN,0.3,30.74,NaN,NaN,NaN
64570,NaN,2021-02-26 08:17:00,2021-02-26 08:51:00,NaN,NaN,42,137,NaN,7.63,41.81,2.75,0.0,0.00,0.0,NaN,0.3,44.86,NaN,NaN,NaN
64571,NaN,2021-02-26 08:12:00,2021-02-26 08:29:00,NaN,NaN,74,236,NaN,1.69,16.58,2.75,0.0,0.00,0.0,NaN,0.3,19.63,NaN,NaN,NaN

In [4]:
con_data= pd.concat([df1,df2])   # concat two dataset
con_data.head(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2021-01-01 00:15:56,2021-01-01 00:19:52,N,1.0,43,151,1.0,1.01,5.5,0.5,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.00
1,2.0,2021-01-01 00:25:59,2021-01-01 00:34:44,N,1.0,166,239,1.0,2.53,10.0,0.5,0.5,2.81,0.0,NaN,0.3,16.86,1.0,1.0,2.75
2,2.0,2021-01-01 00:45:57,2021-01-01 00:51:55,N,1.0,41,42,1.0,1.12,6.0,0.5,0.5,1.00,0.0,NaN,0.3,8.30,1.0,1.0,0.00
3,2.0,2020-12-31 23:57:51,2021-01-01 00:04:56,N,1.0,168,75,1.0,1.99,8.0,0.5,0.5,0.00,0.0,NaN,0.3,9.30,2.0,1.0,0.00
4,2.0,2021-01-01 00:16:36,2021-01-01 00:16:40,N,2.0,265,265,3.0,0.00,-52.0,0.0,-0.5,0.00,0.0,NaN,-0.3,-52.80,3.0,1.0,0.00
5,2.0,2021-01-01 00:16:36,2021-01-01 00:16:40,N,2.0,265,265,3.0,0.00,52.0,0.0,0.5,0.00,0.0,NaN,0.3,52.80,2.0,1.0,0.00
6,2.0,2021-01-01 00:19:14,2021-01-01 00:19:21,N,5.0,265,265,1.0,0.00,180.0,0.0,0.0,36.06,0.0,NaN,0.3,216.36,1.0,2.0,0.00
7,2.0,2021-01-01 00:26:31,2021-01-01 00:28:50,N,1.0,75,75,6.0,0.45,3.5,0.5,0.5,0.96,0.0,NaN,0.3,5.76,1.0,1.0,0.00
8,2.0,2021-01-01 00:57:46,2021-01-01 00:57:57,N,1.0,225,225,1.0,0.00,2.5,0.5,0.5,0.00,0.0,NaN,0.3,3.80,2.0,1.0,0.00
9,2.0,2021-01-01 00:58:32,2021-01-01 01:32:34,N,1.0,225,265,1.0,12.19,38.0,0.5,0.5,2.75,0.0,NaN,0.3,42.05,1.0,1.0,0.00

In [5]:
con_data.shape

(141090, 20)

In [6]:
con_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141090 entries, 0 to 64571
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               75934 non-null   float64
 1   lpep_pickup_datetime   141090 non-null  object
 2   lpep_dropoff_datetime  141090 non-null  object
 3   store_and_fwd_flag     75934 non-null   object
 4   RatecodeID             75934 non-null   float64
 5   PULocationID           141090 non-null  int64
 6   DOLocationID           141090 non-null  int64
 7   passenger_count        75934 non-null   float64
 8   trip_distance          141090 non-null  float64
 9   fare_amount            141090 non-null  float64
 10  extra                  141090 non-null  float64
 11  mta_tax                141090 non-null  float64
 12  tip_amount             141090 non-null  float64
 13  tolls_amount           141090 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  141090 non-null  float64
 16  total_amount           141090 non-null  float64
 17  payment_type           75934 non-null   float64
 18  trip_type              75934 non-null   float64
 19  congestion_surcharge   75934 non-null   float64
dtypes: float64(15), int64(2), object(3)
memory usage: 22.6+ MB

In [7]:
con_data['lpep_pickup_datetime'].nunique()

108999

In [8]:
con_data['lpep_dropoff_datetime'].nunique()

109069

In [9]:
con_data['store_and_fwd_flag'].nunique()

2

In [10]:
# drop column with null values
con_data.drop(columns=['store_and_fwd_flag'], inplace= True)

In [11]:
# convert type to datetime
con_data['lpep_pickup_datetime']= pd.to_datetime(con_data['lpep_pickup_datetime'],format="%Y-%m-%d %H:%M:%S")

In [12]:
# convert type to datetime
con_data['lpep_dropoff_datetime']= pd.to_datetime(con_data['lpep_dropoff_datetime'],format="%Y-%m-%d %H:%M:%S")

In [13]:
con_data.dtypes

VendorID                        float64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [14]:
#extract month

con_data["month"] = pd.DatetimeIndex(con_data["lpep_pickup_datetime"]).month
con_data['month_name']=con_data['month'].map({1:"JAN",2:"FEB"})

#extract week day 
con_data["week_day_pickup"]= con_data["lpep_pickup_datetime"].dt.weekday

#extract day 
con_data["day_pickup"]= con_data["lpep_pickup_datetime"].dt.day

#extract hour
con_data["hour_pickup"]= con_data["lpep_pickup_datetime"].dt.hour 

con_data =con_data.sort_values(by = "lpep_pickup_datetime",ascending = False)

In [15]:
#con_data.drop(columns=['month_name_name', 'month','week_day','day','hour'], inplace=True)

In [15]:
con_data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,...,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,month,month_name,week_day_pickup,day_pickup,hour_pickup
35333,2.0,2021-03-01 19:03:28,2021-03-01 22:49:28,5.0,82,264,3.0,28.34,45.00,0.0,...,0.3,45.30,2.0,1.0,0.0,3,NaN,0,1,19
35450,1.0,2021-02-28 23:50:57,2021-03-01 00:19:27,5.0,130,78,1.0,15.90,65.00,0.0,...,0.0,71.12,2.0,2.0,0.0,2,FEB,6,28,23
35454,2.0,2021-02-28 23:48:27,2021-02-28 23:59:20,1.0,74,152,1.0,2.63,10.50,0.5,...,0.3,15.34,1.0,1.0,0.0,2,FEB,6,28,23
60298,NaN,2021-02-28 23:44:00,2021-02-28 23:58:00,NaN,74,151,NaN,2.40,12.61,0.0,...,0.3,12.91,NaN,NaN,NaN,2,FEB,6,28,23
60300,NaN,2021-02-28 23:43:00,2021-02-28 23:50:00,NaN,42,41,NaN,1.40,8.21,0.0,...,0.3,8.51,NaN,NaN,NaN,2,FEB,6,28,23

In [16]:
#extract month

con_data["month_dropoff"] = pd.DatetimeIndex(con_data["lpep_dropoff_datetime"]).month
con_data['month_name_dropoff']=con_data['month'].map({1:"JAN",2:"FEB"})

#extract week day 
con_data["week_day_dropoff"]= con_data["lpep_dropoff_datetime"].dt.weekday

#extract day 
con_data["day_dropoff"]= con_data["lpep_dropoff_datetime"].dt.day

#extract hour
con_data["hour_dropoff"]= con_data["lpep_dropoff_datetime"].dt.hour 

con_data =con_data.sort_values(by = "lpep_dropoff_datetime",ascending = False)

In [20]:
con_data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,week_day_pickup,day_pickup,hour_pickup,month,month_name,month_dropoff,month_name_dropoff,week_day_dropoff,day_dropoff,hour_dropoff
35333,2.0,2021-03-01 19:03:28,2021-03-01 22:49:28,N,5.0,82,264,3.0,28.34,45.0,...,0,1,19,3,NaN,3,NaN,0,1,22
35401,2.0,2021-02-28 21:30:24,2021-03-01 21:07:48,N,1.0,74,140,1.0,3.07,12.0,...,6,28,21,2,FEB,3,FEB,0,1,21
35460,2.0,2021-02-28 23:30:35,2021-03-01 00:42:24,N,1.0,136,90,1.0,12.98,58.0,...,6,28,23,2,FEB,3,FEB,0,1,0
35450,1.0,2021-02-28 23:50:57,2021-03-01 00:19:27,N,5.0,130,78,1.0,15.90,65.0,...,6,28,23,2,FEB,3,FEB,0,1,0
35454,2.0,2021-02-28 23:48:27,2021-02-28 23:59:20,N,1.0,74,152,1.0,2.63,10.5,...,6,28,23,2,FEB,2,FEB,6,28,23

In [17]:
con_data.sample(4)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,...,month,month_name,week_day_pickup,day_pickup,hour_pickup,month_dropoff,month_name_dropoff,week_day_dropoff,day_dropoff,hour_dropoff
34363,2.0,2021-01-27 13:49:29,2021-01-27 15:30:09,1.0,145,136,1.0,15.68,75.00,0.00,...,1,JAN,2,27,13,1,JAN,2,27,15
21039,2.0,2021-02-17 18:56:34,2021-02-17 19:02:42,1.0,75,41,1.0,1.05,6.00,1.00,...,2,FEB,2,17,18,2,FEB,2,17,19
64000,NaN,2021-02-25 15:35:00,2021-02-25 18:19:00,NaN,55,220,NaN,29.87,87.95,2.75,...,2,FEB,3,25,15,2,FEB,3,25,18
15815,2.0,2021-01-13 11:14:14,2021-01-13 11:21:48,1.0,244,116,1.0,1.04,7.00,0.00,...,1,JAN,2,13,11,1,JAN,2,13,11

In [18]:
con_data.drop(columns=['month_name', 'month_name_dropoff'], inplace=True)

In [19]:
con_data.describe()

,VendorID,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,...,trip_type,congestion_surcharge,month,week_day_pickup,day_pickup,hour_pickup,month_dropoff,week_day_dropoff,day_dropoff,hour_dropoff
count,75934.000000,75934.000000,141090.000000,141090.000000,75934.000000,141090.000000,141090.000000,141090.000000,141090.000000,141090.000000,...,75934.000000,75934.000000,141090.000000,141090.000000,141090.000000,141090.000000,141090.000000,141090.000000,141090.000000,141090.000000
mean,1.820410,1.140899,110.066489,130.674839,1.190389,30.381475,19.854764,1.031408,0.259001,1.224245,...,1.030671,0.613523,1.457743,2.824417,15.754022,12.943703,1.457701,2.825218,15.757141,13.172996
std,0.383848,0.811136,71.261044,77.178520,0.742750,1521.269954,14.677963,1.326812,0.251317,1.966234,...,0.172427,1.144853,0.499009,1.836291,8.203856,4.470008,0.498266,1.836829,8.203721,4.498651
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,-280.000000,-5.500000,-0.500000,-9.450000,...,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,2.000000,1.000000,55.000000,65.000000,1.000000,1.300000,9.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,1.000000,9.000000,10.000000,1.000000,1.000000,9.000000,10.000000
50%,2.000000,1.000000,76.000000,129.000000,1.000000,2.600000,16.730000,0.000000,0.500000,0.000000,...,1.000000,0.000000,1.000000,3.000000,16.000000,13.000000,1.000000,3.000000,16.000000,13.000000
75%,2.000000,1.000000,166.000000,197.000000,1.000000,5.730000,25.400000,2.750000,0.500000,2.750000,...,1.000000,0.000000,2.000000,4.000000,23.000000,16.000000,2.000000,4.000000,23.000000,16.000000
max,2.000000,99.000000,265.000000,265.000000,8.000000,244152.010000,284.000000,8.250000,0.500000,110.000000,...,2.000000,2.750000,12.000000,6.000000,31.000000,23.000000,3.000000,6.000000,31.000000,23.000000

In [20]:
con_data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,...,trip_type,congestion_surcharge,month,week_day_pickup,day_pickup,hour_pickup,month_dropoff,week_day_dropoff,day_dropoff,hour_dropoff
35333,2.0,2021-03-01 19:03:28,2021-03-01 22:49:28,5.0,82,264,3.0,28.34,45.0,0.0,...,1.0,0.00,3,0,1,19,3,0,1,22
35401,2.0,2021-02-28 21:30:24,2021-03-01 21:07:48,1.0,74,140,1.0,3.07,12.0,0.5,...,1.0,2.75,2,6,28,21,3,0,1,21
35460,2.0,2021-02-28 23:30:35,2021-03-01 00:42:24,1.0,136,90,1.0,12.98,58.0,0.5,...,1.0,0.00,2,6,28,23,3,0,1,0
35450,1.0,2021-02-28 23:50:57,2021-03-01 00:19:27,5.0,130,78,1.0,15.90,65.0,0.0,...,2.0,0.00,2,6,28,23,3,0,1,0
35454,2.0,2021-02-28 23:48:27,2021-02-28 23:59:20,1.0,74,152,1.0,2.63,10.5,0.5,...,1.0,0.00,2,6,28,23,2,6,28,23

In [22]:
# Simple Validation Method
con_data_train , con_data_test = train_test_split(con_data, test_size=0.2, random_state=199)

In [23]:
con_data_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112872 entries, 32879 to 20144
Data columns (total 27 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               60680 non-null   float64
 1   lpep_pickup_datetime   112872 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  112872 non-null  datetime64[ns]
 3   RatecodeID             60680 non-null   float64
 4   PULocationID           112872 non-null  int64
 5   DOLocationID           112872 non-null  int64
 6   passenger_count        60680 non-null   float64
 7   trip_distance          112872 non-null  float64
 8   fare_amount            112872 non-null  float64
 9   extra                  112872 non-null  float64
 10  mta_tax                112872 non-null  float64
 11  tip_amount             112872 non-null  float64
 12  tolls_amount           112872 non-null  float64
 13  ehail_fee              0 non-null       float64
 14  improvement_surcharge  112872 non-null  float64
 15  total_amount           112872 non-null  float64
 16  payment_type           60680 non-null   float64
 17  trip_type              60680 non-null   float64
 18  congestion_surcharge   60680 non-null   float64
 19  month                  112872 non-null  int64
 20  week_day_pickup        112872 non-null  int64
 21  day_pickup             112872 non-null  int64
 22  hour_pickup            112872 non-null  int64
 23  month_dropoff          112872 non-null  int64
 24  week_day_dropoff       112872 non-null  int64
 25  day_dropoff            112872 non-null  int64
 26  hour_dropoff           112872 non-null  int64
dtypes: datetime64[ns](2), float64(15), int64(10)
memory usage: 24.1 MB

In [ ]:
# EDA

In [ ]:
# clean data

In [ ]:
# outlier

In [ ]:
# correlation